body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background: #777777;
    width: 960px; 
    font-size: 18px;
    text-align: center;
    margin: 10px auto 10px auto;
}

header {
    background-color: #ebebeb;
    padding: 20px;
    text-align: center;
    margin: 10px auto 10px auto;
}

#nav {
    background-color: #ebebeb;
    padding: 20px;
    text-align: center;
    margin: 10px auto 20px auto;
}

aside {
    float: right;
    background-color: #ebebeb;
    text-align: center;
    height: 300px;
    width: 44%;
    padding: 20px;
    margin: 0px 0px 0px 20px;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

#section {
    background-color: #ebebeb;
    width: 465px;
    padding: 30px;
    margin-bottom: 10px;
    margin-top: 10px
}

#article {
    color: #ebebeb;
    background: #777777;
    padding: 20px; 
    width: 465px;
    position: relative;
    right: 20px;
    margin-top: 10px;
}

#headers {
    color: #777777;
    background: #ebebeb;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    position: relative;
}

p {
    color: #777777;
    background: #ebebeb;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    position: relative;
}

footer {
    clear: both;
    background-color: #ebebeb;
    color: #777777;
    padding: 20px;
    width: 96%;
    text-align: center;
    margin: 10px auto 10px auto;
}
    